[Unit]
Description=Sample service
Requires=network.target
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=java -jar {{ app_dir }}/{{ app_file }}
User={{ app_user_id }}
Restart=always
RestartSec=10
Environment="PORT={{ app_port }}"
